*.*db
**/data-lake/**
**/logs/**
*.log

**/sparkberg/include
**/sparkberg/bin
**/sparkberg/lib
**/sparkberg/lib64
**/sparkberg/target
**/sparkberg/pyvenv.cfg
**/sparkberg/etc
**/sparkberg/share
**/sparkberg/metastore_db
**/sparkberg/spark-warehouse

**/dbt/.user.yml
**/dbt/include
**/dbt/bin
**/dbt/lib
**/dbt/lib64
**/dbt/target
**/dbt/pyvenv.cfg
